*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Inter";
}

html{
    height : 100%;
    position: relative;
}

body{
    background-color: #e5e5e5;
    position: relative;
    min-height: 100vh;
}

a{
    text-decoration: none;
}
a:visited{
    color: #000;
}

.encabezado{
    width: 100%;
    height: 64px;
    padding: 12.8px 0 0 3%;
    box-sizing: border-box;
}

.encabezado  a img{
    width: 7rem;
    transition: 1s all;
}
.encabezado a img:hover{
    transform: scale(1.2) rotateY(360deg);
}

.principal{
    height: 55em;
    box-sizing: border-box;
}

.seccion-principal{
    width: 95%;
    height: 95%;
    box-sizing: border-box;
}

.area{
    display: flex;
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    height: 75%;
    text-align: center;
    padding: 80px 0;
    background-color: #e5e5e5;
    font-size: 2rem;
    color: #0a3871;
    resize: none;
    border: none;
    
}

.area:focus{
    outline: none;
}
.area::placeholder{
    color: #0a3871;
}
.area:focus::placeholder{
    opacity: .3;
}

label{
    position: absolute;
    font-size: .8rem;
}

.icono-alert{
    color: #0a3871;
    vertical-align: bottom;
    margin-right: 3px;
}

.contenedor-botones{

    display: flex;
    position: relative;
    justify-content: center;
    height: 20%;
}

.btn-encriptar, .btn-desencriptar, .btn-copiar{
    font-size: 1rem;
    margin: 0 auto;
    margin: 2rem 1rem 0 1rem;
    width: 12rem;
    min-width: 7rem;
    height: 3em;
    border-radius: 1.5rem;
    transition: 1s all;
}
.btn-encriptar:active, .btn-copiar:active, .btn-limpiar:active{
    transition: .2s all;
    background-color: darkturquoise;
    color: #0a3871;
    border: 1px solid #0a3871;
}
.btn-desencriptar:active{
    transition: .2s all;
    background-color: darkturquoise;
    color: #fff;
}

.btn-encriptar, .btn-copiar{
    border: none;
    background-color: #0a3871;
    color: #fff;
}
.btn-desencriptar{
    border: 1px solid #0a3871;
    color: #0a3871;
}

.btn-limpiar{
    border:none;
    background-color: #f44141;
    color: #fff;
    position: absolute;
    margin: auto;
    top:6rem;
    font-size: 1rem;
    width: 5rem;
    height: 2em;
    border-radius: 1.5rem;
    transition: 1s all;
}

.btn-encriptar:hover, .btn-desencriptar:hover, .btn-copiar:hover, .btn-limpiar:hover{
    transform: scale(1.2);
    cursor: pointer;
}


.aside{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

}

.munieco-contenedor{
    position: relative;
    box-sizing: border-box;
    width: 60%;
    height: 95%;
    background-color: #fff;
    border-radius: 24px;
    min-width: 15rem;
    transform-style: preserve-3d;
    transition: 1.6s all;
    
}

.munieco-adelante, .munieco-atras{
    width: 95%;
    height: 100%;
    background-color: #fff;
    border-radius: 24px;
    min-width: 13.75rem;
    box-sizing: border-box;
    backface-visibility: hidden;
    position: absolute;
}
.munieco-atras{
    transform: rotateY(180deg);
}


.imagen-aside{
    display: flex;
    box-sizing: border-box;
    height: 50%;
}

.imagen-aside img{
    box-sizing: border-box;
    width: 95%;
    margin: auto;
}

.texto-aside{
    box-sizing: border-box;
    text-align: center;
    padding: 0 2rem;
    height: 25%;
}
.texto-aside h3{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.texto-atras{
    width: 95%;
    height: 75%;
    margin: auto;
    box-sizing: border-box;
    padding: 3rem 2rem;
    overflow: auto;
    box-sizing: border-box;
}
.texto-atras > p{
    box-sizing: border-box;
    color: #0a3871;
}

.boton-aside{
    text-align: center;
    box-sizing: border-box;
}

.contenedor-footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    background-color: #0a3871;
    color: #fff;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
.contenedor-footer p {
    font-size: .8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contenedor-footer span{
    font-size: .8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #33f6a1;
}
.contenedor-footer a:visited{
    color: #fff;
}